<a id="about"></a>
<div class="section">
<h1 class="title">About</h1>

<h4>
<p>
FRS Inc. is a provider of electronic security products and services primarily focused on video for commercial applications. Established July 2006, the goal continues to be providing customized solutions, within vertical industry sectors, with the best of current industry offerings and service to match to clients.  
</p>
<p>
Our leadership’s twenty plus years of experience provides a vetted filter in navigating the ‘ocean’ of product within the industry. This filter is based on matching product core value to mitigate risk, costs and providing a lasting solution.
</p>
<p>
FRS Inc. values long term relationships, built on trust and the symbiotic pursuit of delivering maximum value within the market place.
</h4>
</div>