<a id="about"></a>
<div class="section fullheight aboutbg" id="wrapper">
	<div class="container">
		<div class"row" id="block">
			<div class="col-md-6 about vertical-align">
				<h2 class="title">WHO WE ARE</h2>
				<p>
				FRS Inc. is a provider of electronic security products and services primarily focused on video for commercial applications. Established July 2006, the goal continues to be providing customized solutions, within vertical industry sectors, with the best of current industry offerings and service to match to clients.  
				</p>
				<blockquote class="blockquote">
				<p>
				<i>FRS Inc. values long term relationships, built on trust and the symbiotic pursuit of delivering maximum value within the market place.</i>
				</p>
				<footer class="blockquote-footer">Tim Miller</footer>
				</blockquote>
				<p>
				Our leadership’s twenty plus years of experience provides a vetted filter in navigating the ‘ocean’ of product within the industry. This filter is based on matching product core value to mitigate risk, costs and providing a lasting solution.
				</p>
				<p>
				<h2 class="frs-team">The FRS Team</h2>
				</p>
				
				</div>
			<!--<div class="col-md-6">
				<img src="assets/images/pedestrians.jpg" alt="pedestrians" width="100%">
			</div>-->
		</div>
	</div>
</div>