<a id="contact"></a>
<div class="section container-fluid contactme fullheight">
  <div class="container" >
    <a id="contact"></a>
    <h1 class="text-center" id="contacth1">Contact</h1>
    <h3 class="text-center">Phone: (949) 494-5956</h3>
    <h3 class="text-center">Email: info@frsec.net</h3> 
    <form>
       <div class="container-fluid">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" placeholder="Your Name" required>
        </div>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="text" class="form-control" id="emailAddress" placeholder="Your Email" required>
        </div>
        <div class="form-group">
          <label for"message">Message</label>
          <textarea class="form-control" id="message" placeholder="Your Message" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>