<header>
	<div id="startchange" class="container-full">
		<div class="header-content">
			    <h1 class="page-header">Financial Retail Security Inc.</h1>
			    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua.</h3>
			    <br>
			    <!--<button type="button" class="btn btn-default btn-transparent"><a href="#about">Learn More</a></button>-->
			    <a class="btn btn-default btn-transparent button" href="#about">Learn More</a>
	    </div>
    </div>
</header>