<a id="leadership"></a>
<div class="section">
<h1 class="title">Leadership</h1>

<p><h4>
Timothy F. Miller, the founder of Financial Retail Security Inc, has over twenty years experience in electronic security.
</p>
<p>
Prior to founding FRS Inc. in 2006, Tim was division leader of manufactured product at a national security systems integrator (1996-2006). He’d conceptualized the division he eventually lead, brought on board and developed a top 5 client and had two of the top 10 clients of the company. One of three sales executives (total of 21) to sell over $2,000,000 (6.6% of overall sales). Furthermore, he developed a client base in a broad geography throughout the western hemisphere & the pacific. The vast majority of said geography, the integrator had never had market share in.
</p>
<p>
He’d started in the industry at an optics factory (1993 - 1995). Tim is fluent in Spanish, successfully having completed immersion studies at Escuela de Español, San Josĕ El Viejo, in the city of Antigua. Prior, Tim received his Bachelors Degree, studying business and psychology (Organizational Behavior) at the University of Michigan, Ann Arbor, where he was an NCAA Division I athlete running on the cross country traveling team. He was three time cross country and track state champion (Michigan) and city athlete of the year. the year.
</h4></p>
</div>