<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapseNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">FRS</a>                                                                     </div>                                  
    <div class="collapse navbar-collapse" id="collapseNav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="navbar-nav">About</a></li>
        <li><a href="#leadership" class="navbar-nav">Leadership</a></li>
        <li><a href="#clients" class="navbar-nav">Clients</a></li>
        <li><a href="#tradeshows" class="navbar-nav">Tradeshows</a></li>
        <li><a href="#contact" class="navbar-nav">Contact</a></li>
      </ul>
    </div>
  </div>
</div>