<a id="services"></a>
<div class="section fullheight services-bg" id="wrapper">
	<div class="container about">
		<h2 class="title">OUR SERVICES</h2>
		<div class="row" id="block">
			<div class="col-md-4 text-center">
				<i class="fa fa-lightbulb-o services-icon" aria-hidden="true"></i>
				<h2 class="title">CONSULTING</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			<div class="col-md-4 text-center">
				<i class="fa fa-cogs services-icon" aria-hidden="true"></i>
				<h2 class="title">INSTALLATION</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			<div class="col-md-4 text-center">
				<i class="fa fa-life-ring services-icon" aria-hidden="true"></i>
				<h2 class="title">SUPPORT</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
	</div>
</div>