<a id="tradeshows"></a>
<div class="section fullheight tradeshows-bg" id="wrapper">
	<div class="container about">
		<h2 class="title">TRADESHOWS</h2>
		<div class="row" id="block">
			<div class="col-md-4 text-center">
				<img src="assets/images/isc-west.jpg" alt="ISC West" />
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/isc-west.jpg" alt="ISC West" />
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/isc-west.jpg" alt="ISC West" />
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
	</div>
</div>